<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
>
<head>
	<title>タスク一覧</title>
</head>
<body>
<section layout:fragment="content">
	<div>
		<a th:href="@{/tasks/creationForm}" class="btn btn-primary">作成</a>
	</div>
	<div class="card mt-3">
		<div class="card-header">
			検索
		</div>
		<div class="card-body">
			<form th:action="@{/tasks}" method="get" th:object="${searchDTO}">
				<div class="form-group">
					<label class="form-label" for="summarySearch">概要</label>
					<input class="form-control" id="summarySearch" placeholder="概要" th:field="*{summary}">
				</div>
				<div class="form-group">
					<div>
						<label class="form-label">ステータス</label>
					</div>
					<div>
						<input type="checkbox" id="statusSearchTodo" name="status" value="TODO" th:checked="*{isChecked('TODO')}">
						<label for="statusSearchTodo">TODO</label>
						<input type="checkbox" id="statusSearchDoing" name="status" value="DOING" th:checked="*{isChecked('DOING')}">
						<label for="statusSearchDoing">DOING</label>
						<input type="checkbox" id="statusSearchDone" name="status" value="DONE" th:checked="*{isChecked('DONE')}">
						<label for="statusSearchDone">DONE</label>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">検索</button>
			</form>
		</div>
	</div>
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>タスクID</th>
					<th>概要</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task : ${taskList}" th:object="${task}">
					<td><a th:href="@{/tasks/{id}(id=*{id})}" th:text="'#' + *{id}"></a></td>
					<td><a th:href="@{/tasks/{id}(id=*{id})}" th:text="*{summary}"></a></td>
					<td th:text="*{status}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
</body>
</html>